@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  /* Core theme colors */
  --theme-primary: rgb(115, 103, 240);
  --background: rgb(240, 241, 245);
  --foreground: rgb(15, 15, 15);
  --muted: rgba(15, 15, 15, 0.6);
  --border: rgba(0, 0, 0, 0.1);
  --paper: linear-gradient(
    119deg,
    rgba(255, 255, 255, 0.05) 0%,
    rgba(255, 255, 255, 0.11) 100%
  );
}

.bg-input {
  box-shadow:
    1px 1px 3px 0 rgba(174, 174, 192, 0.4),
    -1px -1px 3px 0 #fff,
    inset 0 0 0 0px rgba(255, 255, 255, 0.2);
  transition: box-shadow 0.3s ease;
  &::placeholder {
    color: rgba(0, 0, 0, 0.85);
    opacity: 1;
  }
  &:hover {
    box-shadow:
      2px 2px 6px 0 rgba(174, 174, 192, 0.6),
      -2px -2px 6px 0 #fff,
      inset 0 0 0 0 rgba(255, 255, 255, 0.2);
  }
}

.dark {
  --background: rgb(15, 15, 15);
  --foreground: rgb(210, 210, 210);
  --muted: rgba(210, 210, 210, 0.65);
  --border: rgba(255, 255, 255, 0.16);
  .nav {
    border: 1px solid var(--color-border);
    box-shadow: none;
    background: none;
    .nav-items {
      background: linear-gradient(
        268deg,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.14) 100%
      );
      background-size: auto 200%;
      &:not(:last-child)::after {
        position: absolute;

        background: linear-gradient(
          90deg,
          rgba(255, 255, 255, 0.1) 0%,
          rgba(255, 255, 255, 0.03) 100%
        );
        background-size: auto 200%;
        transition: all 0.3s ease;
      }
    }
  }
  .bg-input {
    background: linear-gradient(
      329deg,
      rgba(0, 0, 0, 0.75) 0%,
      rgba(78, 78, 78, 0.81) 100%
    );
    box-shadow: none;
    &::placeholder {
      color: rgba(210, 210, 210, 0.75);
      opacity: 1;
    }
  }
  .shadow-emboss-light {
    box-shadow: none;
    border: 1px solid var(--color-border);
  }
  .paper-background {
    background: var(--paper);
    backdrop-filter: blur(40px);
  }
  .bg-fade-white {
    backdrop-filter: none;
    box-shadow: none;
    background: linear-gradient(
      209deg,
      rgba(255, 255, 255, 0.09) 0%,
      rgba(255, 255, 255, 0.14) 100%
    );
  }
  .bg-fade-primary {
    border: inherit;
    backdrop-filter: none;
    box-shadow: unset;
    background: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.38),
      rgba(255, 255, 255, 0.11),
      rgba(0, 0, 0, 0.38)
    );
    background-size: 200% 100%;
    transition: background-position 0.4s ease;
  }
  /* .bg-fade-gradient-left {
    backdrop-filter: none;
    box-shadow: unset;
    background: linear-gradient(
      268deg,
      rgba(255, 255, 255, 0) 0%,
      rgba(255, 255, 255, 0.14) 100%
    );
    background-size: 100% 200%;
    transition: background-position 0.4s ease;
  } */

  .bg-fade-secondary {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: linear-gradient(to right, #ffffff0d, #ffffff12, #ffffff0d);
    background-size: 200% auto;
    transition: background-position 0.4s ease;
    backdrop-filter: none;
    box-shadow: none;
    &:hover {
      background-position: right center;
    }
  }
}
* {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: var(--muted) var(--background);
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
  transition:
    color 0.3s ease,
    background-color 0.3s ease,
    border-color 0.3s ease;
}

*::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

*::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  transition: background 0.3s ease;
}

.shadow-emboss-light {
  box-shadow:
    1px 1px 3px 0 rgba(174, 174, 192, 0.4),
    -1px -1px 3px 0 #fff,
    inset 0 0 0 0px rgba(255, 255, 255, 0.2);
}

.bg-fade-primary {
  box-shadow:
    inset 9px 9px 6px 0 rgba(174, 174, 192, 0.2),
    inset -6px -6px 6px 0 rgba(255, 255, 255, 0.7);
  background: #f0f1f5;
  backdrop-filter: blur(40px);
  border: none;
}

.bg-fade-gradient-left {
  box-shadow:
    inset 9px 9px 6px 0 rgba(174, 174, 192, 0.2),
    inset -6px -6px 6px 0 rgba(255, 255, 255, 0.7);
  background: #f0f1f5;
  backdrop-filter: blur(40px);
  border: none;
}

.bg-fade-white,
.bg-fade-secondary {
  box-shadow:
    inset 9px 9px 6px 0 rgba(174, 174, 192, 0.2),
    inset -6px -6px 6px 0 rgba(255, 255, 255, 0.7);
  background: #f0f1f5;
  backdrop-filter: blur(40px);
  border: none;
}

.paper-background {
  background: var(--background);
  backdrop-filter: none;
}
.nav {
  border: none;
  box-shadow:
    inset 9px 9px 6px 0 rgba(174, 174, 192, 0.2),
    inset -6px -6px 6px 0 rgba(255, 255, 255, 0.7);
  background: linear-gradient(
    253deg,
    rgba(161, 161, 161, 0.14) 0%,
    #f0f1f559 100%
  );

  .nav-items {
    position: relative;
    &:not(:last-child)::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
      transition: background-position 0.4s ease;
    }
  }
}

@theme inline {
  --color-primary: var(--theme-primary);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-poppins: var(--font-poppins);
}

@utility container {
  padding-inline: 0.75rem;
  margin-inline: auto;

  @variant md {
    max-width: 720px;
  }
  @variant lg {
    max-width: 960px;
  }
  @variant xl {
    max-width: 1140px;
  }
  @variant 2xl {
    max-width: 1224px;
  }
}

/* Custom utilities */
@utility rounded-inherit {
  border-radius: inherit;
}

.overlay-caption::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, #181818 100%);
}

/* Custom hover classes */
.hover-reverse-gradient-right:hover {
  background-position: right center;
}

.underline-hover {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition: width 0.3s ease;
  }

  &:hover::after {
    width: 100%;
  }
}

/* Base styles */
