@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --theme-primary: rgb(115, 103, 240);
  --background: rgb(240, 241, 245);
  --foreground: rgb(15, 15, 15);
  --muted: rgba(80, 80, 80, 0.5);
  --border: rgba(0, 0, 0, 0.1);

  /* ✨ Gợi ý nâng cao - gradient tái sử dụng */
  --fade-gradient-right: linear-gradient(
    to right,
    #00000061,
    #ffffff1c,
    #00000061
  );
  --fade-gradient-left: linear-gradient(
    268deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.14) 100%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-primary: rgb(115, 103, 240);
    --background: rgb(15, 15, 15);
    --foreground: rgb(210, 210, 210);
    --muted: rgba(210, 210, 210, 0.65);
    --border: rgba(255, 255, 255, 0.16);
  }
}

@theme inline {
  --color-primary: var(--theme-primary);
  --color-muted: var(--muted);
  --color-border: var(--border);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-poppins: var(--font-poppins);
}

@utility container {
  padding-inline: 0.75rem;
  margin-inline: auto;

  @variant md {
    max-width: 720px;
  }
  @variant lg {
    max-width: 960px;
  }
  @variant xl {
    max-width: 1140px;
  }
  @variant 2xl {
    max-width: 1224px;
  }
}

.rounded-inherit {
  border-radius: inherit;
}

.bg-fade-gradient-right {
  transition: background-position 0.4s ease;
  background-image: var(--fade-gradient-right);
  background-size: 200% 100%;
}

.bg-fade-gradient-left {
  transition: background-position 0.4s ease;
  background-image: var(--fade-gradient-left);
  background-size: 100% 200%;
}

.hover-reverse-gradient-right:hover {
  background-position: right center;
}

.hover-reverse-gradient-left:hover {
  background-position: left center;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins);
}
